{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
<<<<<<< HEAD
    .block{margin-top:50px;}
    .text{margin-top:30px;}
    .bntCat{ margin:auto; display:block; text-align:center;}
    .bntCat:hover{ text-decoration:none;}
    .btnCat a{text-decoration:none; }
    .btnCat a:hover{text-decoration:none;color:#fff; }
    *{font-family: "Nunito";}
  
</style>

<div class="example-wrapper">

<!--
{% if category.name == 'assistance' %}

 <img src="{{ asset('images/assistance.jpg') }}" style="border-radius:10%; display:block; margin:auto; margin-top:30px; margin-bottom:30px;  max-width: 600px;">

<div class="container containerService" style="border:1px solid #048b9a; border-radius:50px; max-width:800px;">
    <div class="row">
        <div class="col">
            <img src=>
            <p>Nom:</p>
            <p>Prenom:</p>
            <p>Email:</p>
            <p>Ville:</p>
            <p>Code postal:</p>
        </div>
        <div class="col">        
                <p style="font-weight: bold; text-transform: uppercase; font-size:20px;">{{ category.name }}</p>
           
        </div>
    </div>
     <button class="btn btn-lg btn-primary btnService" style="display:block; margin:auto; margin-bottom:20px; font-size:15px;" ><a href="{{ path('request_create')}}" style="color: #fff; text-decoration:none;">Je veux aider cette personne</a></button>
    </div>
</div>
{% elseif category.name == 'animaux' %}

 <img src="{{ asset('images/animaux.jpg') }}" style="border-radius:10%; display:block; margin:auto; margin-top:30px; margin-bottom:30px;  max-width: 500px;">


<div class="container containerService" style="border:1px solid #048b9a; border-radius:50px; max-width:800px;">
    <div class="row">
        <div class="col">
           
            <p>Nom:</p>
            <p>Prenom:</p>
            <p>Localisation:</p>
        </div>
        <div class="col">        
                <p style="font-weight: bold; text-transform: uppercase; font-size:20px;">{{ category.name }}</p>
           
        </div>
    </div>
     <button class="btn btn-lg btn-primary btnService" style="display:block; margin:auto; margin-bottom:20px; font-size:15px;" ><a href="{{ path('request_create')}}" style="color: #fff; text-decoration:none;">Je veux aider cette personne</a></button>
    </div>
</div>
{% elseif category.name == 'enfance' %}

 <img src="{{ asset('images/enfance.jpg') }}" style="border-radius:10%; display:block; margin:auto; margin-top:30px; margin-bottom:30px;  max-width: 600px;">


<div class="container containerService" style="border:1px solid #048b9a; border-radius:50px; max-width:800px;">
    <div class="row">
        <div class="col">
          
            <p>Nom:</p>
            <p>Prenom:</p>
            <p>Localisation:</p>
        </div>
        <div class="col">        
                <p style="font-weight: bold; text-transform: uppercase; font-size:20px;">{{ category.name }}</p>
           
        </div>
    </div>
     <button class="btn btn-lg btn-primary btnService" style="display:block; margin:auto; margin-bottom:20px; font-size:15px;" ><a href="{{ path('request_create')}}" style="color: #fff; text-decoration:none;">Je veux aider cette personne</a></button>
    </div>
</div>
{% elseif category.name == 'transport' %}

 <img src="{{ asset('images/transport.jpg') }}" style="border-radius:10%; display:block; margin:auto; margin-top:30px; margin-bottom:30px;  max-width: 600px;">


<div class="container containerService" style="border:1px solid #048b9a; border-radius:50px; max-width:800px;">
    <div class="row">
        <div class="col">
       
            <p>Nom:</p>
            <p>Prenom:</p>
            <p>Localisation:</p>
        </div>
        <div class="col">        
                <p style="font-weight: bold; text-transform: uppercase; font-size:20px;">{{ category.name }}</p>
           
        </div>
    </div>
     <button class="btn btn-lg btn-primary btnService" style="display:block; margin:auto; margin-bottom:20px; font-size:15px;" ><a href="{{ path('request_create')}}" style="color: #fff; text-decoration:none;">Je veux aider cette personne</a></button>
    </div>
</div>
{% elseif category.name == 'jardinage' %}

 <img src="{{ asset('images/jardinage.jpg') }}" style="border-radius:10%; display:block; margin:auto; margin-top:30px; margin-bottom:30px; max-width: 600px;">


<div class="container containerService" style="border:1px solid #048b9a; border-radius:50px; max-width:800px;">
    <div class="row">
        <div class="col">
           
=======
</style>

<div class="example-wrapper">
    <h1>Catégorie ASSISTANCE</h1>



{% if category.name == 'assistance' %}
<div class="container containerService" style="border:1px solid #048b9a; border-radius:50px; max-width:800px;">
    <div class="row">
        <div class="col">
            <img src="{{ asset('images/logo.png') }}" style="border:1px solid #048b9a; border-radius:30%;">
>>>>>>> 589ebd67701772fba3dcbac06822db2422230f91
            <p>Nom:</p>
            <p>Prenom:</p>
            <p>Localisation:</p>
        </div>
        <div class="col">        
                <p style="font-weight: bold; text-transform: uppercase; font-size:20px;">{{ category.name }}</p>
<<<<<<< HEAD
=======
                <p style="font-weight: bold; font-size:16px;">{{ request.title }}</p>
                <p style="font-size:14px;">{{ request.description }}</p>
                <p style="font-size:14px;">Nombre de points demandé: {{ request.nbPoint }}</p>   
>>>>>>> 589ebd67701772fba3dcbac06822db2422230f91
           
        </div>
    </div>
     <button class="btn btn-lg btn-primary btnService" style="display:block; margin:auto; margin-bottom:20px; font-size:15px;" ><a href="{{ path('request_create')}}" style="color: #fff; text-decoration:none;">Je veux aider cette personne</a></button>
    </div>
</div>
 {% endif %}
<<<<<<< HEAD
--> 


<div class="container-fluid">
    <div class="row block">
        
             {% if category.name == 'assistance' %}
            <img src="{{ asset('images/assistance.jpg') }}" style="border-radius:10%; display:block; margin:auto; margin-top:30px; margin-bottom:30px;  max-width: 300px;">
            {% elseif category.name == 'animaux' %}
            <img src="{{ asset('images/animaux.jpg') }}" style="border-radius:10%; display:block; margin:auto; margin-top:30px; margin-bottom:30px;  max-width: 300px;">
            {% elseif category.name == 'enfance' %}
            <img src="{{ asset('images/enfance.jpg') }}" style="border-radius:10%; display:block; margin:auto; margin-top:30px; margin-bottom:30px;  max-width: 300px;">
            {% elseif category.name == 'transport' %}
            <img src="{{ asset('images/transport.jpg') }}" style="border-radius:10%; display:block; margin:auto; margin-top:30px; margin-bottom:30px;  max-width: 300px;">
            {% elseif category.name == 'jardinage' %}
            <img src="{{ asset('images/jardinage.jpg') }}" style="border-radius:10%; display:block; margin:auto; margin-top:30px; margin-bottom:30px;  max-width: 300px;">
            {% endif %}
    
        
            {% if category.name == 'assistance' %}
            
            <p style="text-align:center;">Nous avons tous, un jour ou l'autre, besoin d'aide. Dans cette catégorie, vous retrouverez toutes les demandes 
            concernant les différentes {{ category.name}}s: </p>
            <ul>
                <li>Aide ménagère</li>
                <li>Faire les courses</li>
                <li>Tenir compagnie à une personne</li>
                <li>Préparer à manger</li>
                <li>etc.</li>

            </ul>
            <p style="text-align:center;">Aider les autres part parfois de petites choses. Les personnes seules, âgées ou encore juste dans le besoin,
             seront ravie de trouver de l'aide auprès de vous!
            </p>
            {% elseif category.name == 'animaux' %} 
            <p style="text-align:center;">Vous avez besoin que l’on garde votre chien ce week-end ? Vous rêvez d’avoir un chat et seriez ravi de pouvoir en garder un de temps en temps ? Votre association a besoin de bénévoles pour participer au suivi de la migration des oiseaux ou s’occuper d’animaux ?
            Cette catégorie est pour vous ! Créez votre annonce dans cette catégorie.
            </p>
            {% elseif category.name == 'enfance' %}
            <p style="text-align:center;">Chers parents, vous avez envie de regarder autre chose que la Reine des Neiges le samedi soir et vous en avez marre de faire les trajets au foot tous les mercredis... ? <br><br>Alors créez une petite annonce dans cette catégorie pour trouver quelqu’un pour garder vos chérubins de temps en temps ou partager des conduites.
            Pour tous ceux qui ont gardé leur âme d’enfants et cherchent à aider des parents, alors consultez les annonces qui figurent ci dessous :) 
            </p>
            {% elseif category.name == 'transport' %}          
            <p style="text-align:center;">Vous n'êtes pas véhiculé mais vous devez vous rendre quelque part en voiture ? Vous déménagez et vous avez besoin d'un véhicule utilitaire ? Vous êtes à la recherche de gros bras pour vous aider à porter vos affaires ?
            Cherchez un coup de pouce ici en créant une petit annonce.</p>
            {% elseif category.name == 'jardinage' %}
            <p style="text-align:center;">Besoin d’un coup de main pour monter un meuble, arroser vos plantes pendant les vacances ou d’un voisin sympa pour un petit déménagement ? Alors créez votre annonce dans cette catégorie pour que les gros bras et les petites mains volent à votre rescousse !
            Si vous avez les pouces verts ou de bons muscles, à votre tour de proposer votre aide en créant une annonce ou bien sélectionnez celles de vos voisins qui n’attendent que vous !</p>
            {% endif %}
        <div class="btnCat">
            <button class="btn btn-outline-primary btnCategory"><a href="http://localhost:8000/category/">Retour vers les catégories</a></button>
       
        </div>
   </div>
</div>




</div>
=======
>>>>>>> 589ebd67701772fba3dcbac06822db2422230f91





</div>
<<<<<<< HEAD

=======
>>>>>>> 589ebd67701772fba3dcbac06822db2422230f91
{% endblock %}