{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .tableau {margin-top: 150px;}
    .title{  margin-bottom:60px; color:#fff; text-align:center; margin-top: 60px; background: #005c96; border: 1px solid #005c96; border-radius: 50px; padding: 20px;  } 
    *{font-family: 'Lato';}

</style>

<div class="example-wrapper">
    <h2 class="title">Liste des utilisateurs</h2>

<table class="table tableau" id="myTable">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Ville</th>
      <th scope="col">Code postal</th>
      <th scope="col">A propos</th>
      <th scope="col">Commentaires</th>
    </tr>
  </thead>
  <tbody>
    <tr>
     {% for user in users %}
      <th scope="row"></th>
      <td>{{ user.lastname }}</td>
      <td>{{ user.firstname }}</td>
      <td>{{ user.city }}</td>
      <td>{{ user.postalCode }}</td>

      <td>{{ user.description }}</td> 
   
      <td><a href="{{ path('comment_show', {'id': user.id})}}">Voir</a></td>
     
    </tr>
 


    {% endfor %}


  </tbody>
</table>

</div>
{% endblock %}
