{% extends 'base.html.twig' %}

{% block title %}Fiche d'un utilisateur{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .infosUser { margin-top: 60px; background: #005c96; border: 1px solid #005c96; border-radius: 50px; padding: 20px;}
    .infosUser p, .nbPointsUser p, .servicesCommentaires { color: #fff;}
    .infosUser h1 { text-align:center; color:#fff; margin-bottom:60px;}
    .infosUser img {border:1px solid #000; border-radius: 50%;}
    .nbPointsUser{ margin-top: 60px; background: #318ce7; border: 1px solid ##318ce7; border-radius: 50px; text-align:center; padding: 20px; max-width:300px; height:auto;}
    .servicesCommentaires {  margin-top: 60px; background: #005c96; border: 1px solid #005c96; border-radius: 50px; padding: 20px; }
    .about{ margin-top: 50px;}
</style>

<div class="example-wrapper">
 
<div class="container infosUser">
<h1>MON PROFIL</h1>
  <div class="row"> 
    <div class="col">
      <img src="{{ asset('images/' ~ app.user.imageName) }}" alt="" width="200">
   
      
    </div>
    <div class="col">
      <p> NOM: {{ app.user.lastname }}</p>
   
      <p> PRENOM: {{ app.user.firstname }}</p>
      
      <p> ADRESSE: {{ app.user.address }} {{ app.user.postalCode }} {{ app.user.city }}</p>
      <p> EMAIL: {{ app.user.email }}</p>
      
    </div>
  </div>
</div>
<div class="container about">
  <div class="row">
    <div class="col">
    <h3>A propos de moi:</h3>
    <p>{{ app.user.description }}</p>
    </div>
  </div>
</div>
<div class="container" style="margin-top:30px;">
  <div class="row">
    <div class="col">
    <h3>Nombre de points:</h3>
    <p><span style="font-size:25px;">20</span> points</p>
    </div>
  </div>
</div>


<div style="margin-top:50px; text-align:center; border: 1px solid #005c96; max-width:150px; border-radius: 30px;">
<a href="{{ path('user_edit', {'id': app.user.id}) }}">Modifier le profil</a>

</div>
<!--<div class="container ">
  <div class="row">
    <div class="col">
    <p><a href="">Mes annonces:</a></p>
    <p></p>
    </div>
  </div>
</div>
<div class="container servicesCommentaires">
  <div class="row">
    <div class="col">  
      <p>Mes commentaires:</p>
  </div>
</div>

</div>-->
{% endblock %}